@import '../../../../../../../../../utils/styles/styles.scss';

.exam-content {
    flex: 1;
    padding: $p-4 $p-6;
    border-radius: $rounded-4;
    border-style: hidden;
    display: flex;
    flex-direction: column;
    gap: $gap-6;
    background-color: $white;
}

.info-panel {
    display: flex;
    gap: $gap-4;
}

.score-panel {
    flex: 1;
    padding: $p-4;
    border-radius: $rounded-4;
    border-style: hidden;
    background-color: $gray-100;
    position: relative;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.score-description {
    color: $gray-700;
    font-weight: 400;
    font-size: $font-size-XS;
    line-height: 21;  
}

.score-number {
    font-weight: 700;
    font-size: $font-size-3XL;
    line-height: 50;
    color: $body-color;
}

.image {
    position: absolute;
    bottom: 0;
    right: 12;
    width: 160;
    height: 128;
}

.other-info {
    display: flex;
    flex-direction: column;
    gap: $gap-3;
}

.info-row {
    display: flex;
    gap: $gap-3;
}

.panel-item {
    $border-radius: $rounded-2;
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    gap: $gap-2;
    padding: $p-3 $p-4;
}

.panel-title {
    width: 202;
    font-size: $font-size-XS;
    line-height: 21;
    color: $gray-700;
    font-weight: 400;
}

.panel-content {
    width: 202;
    font-size: $font-size-XS;
    line-height: 21;
    color: $body-color;
    font-weight: 500;
    white-space: normal;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: $gap-4;
}

.instruction-wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-1;
}

.instruction-title {
    font-weight: 400;
    font-size: $font-size-XS;
    line-height: 21;
    color: $body-color;
}

.instruction-info {
    font-weight: 500;
    font-size: $font-size-XS;
    line-height: 21;
    color: $body-color;
    white-space: normal;
}