@import "../../../../../../utils/styles/styles.scss";

.sidebar-test {
  display: flex;
  gap: $gap-4;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: $gray-200;
  padding: $p-4 $p-6;

  &:hover {
    background-color: $blue-100;
    cursor: pointer;
  }
}

.sidebar-exam-info {
  display: flex;
  flex-direction: column;
  gap: $gap-1;
}

.sidebar-exam-title {
  color: $blue-500;
  font-weight: 500;
  font-size: $font-size-S;
  line-height: 24px;
}

.sidebar-exam-deadline {
  line-height: 21px;
  font-size: $font-size-XS;
  font-weight: 400;
  color: $gray-700;
}

.sidebar-test-title {
  line-height: 24px;
  font-size: $font-size-S;
  font-weight: 400;
  color: $body-color;
  white-space: pre-wrap;
  word-wrap: break-word;
}
