@import "../../../../../../../utils/styles/styles.scss";

.option {
    .form-check-input:disabled {
        background-color: inherit !important; 
        border-color: inherit !important;
        opacity: 1 !important;
      }
    
      .form-check-label {
        color: inherit !important;
      }
}