@import '../styles.scss';

.button-confirm,
.button-exit {
    border-radius: $rounded-2;
    font-size: $font-size-S;
    font-weight: 600;
    padding: $p-2 $p-3;
    text-align: center;
    line-height: 24px;
    width: auto;
}

.button-confirm {
    background-color: $primary;
    color: $white;
    border-style: hidden;
}

.button-exit {
    background-color: $white;
    color: $primary;
    border-style: solid;
    border-color: $primary;
}
