@import "../../../utils/styles/styles.scss";

.suggested-test-container {
  display: flex;
  flex-direction: column;
  gap: $gap-4;
}

.suggested-test-header {
  font-weight: 600;
  line-height: 24px;
  font-size: $font-size-S;
  color: $body-color;
}

.suggested-test-description-container {
  display: flex;
  gap: $gap-6;
}

.suggested-test-image {
  height: 225px;
  width: 400px;
}

.suggested-test-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.suggested-test-title-container {
  display: flex;
  flex-direction: column;
  gap: $gap-3;
}

.suggested-course-title {
  color: $primary;
  font-weight: 500;
  line-height: 24px;
  font-size: $font-size-S;
}

.suggested-test-title {
  color: $body-color;
  font-weight: 600;
  line-height: 35px;
  font-size: $font-size-XL;
}

.suggested-test-type {
  display: flex;
  gap: $gap-1;
}

.suggested-test-type-text {
  color: $gray-700;
  line-height: 21px;
  font-weight: 400;
  font-size: $font-size-S;
}
