@import '../../../utils/styles/styles.scss';

.login-container {
    display: flex;
}

.login-image {
    flex: 1;
    object-fit: cover;
}

.login-form-container {
    width: 720px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 110px;
    gap: 64px;
    justify-content: center;
}

.login-form-logo {
    height: 56px;
    width: 318px;
    margin-left: -5px;
}

.login-form {
    height: 480px;
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: $gap-4;
}

.login-form-header {
    display: flex;
    flex-direction: column;
    gap: $gap-3;
}

.header-title {
    color: $body-color;
    font-weight: 700;
    line-height: 50px;
    font-size: $font-size-3XL;
}

.header-description {
    color: $gray-600;
    font-weight: 500;
    line-height: 24px;
    font-size: $font-size-S;
}

.login-form-error {
    height: 24px;
    color: $--Theme-Danger;
    font-weight: 500;
    line-height: 24px;
    font-size: $font-size-S;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    gap: $gap-4;
}

.email-input-field {
    border-radius: $rounded-3;
    border-style: solid;
    border-width: 1px;
    border-color: $gray-400;
    padding: $p-2 $p-4;
    &:focus {
        box-shadow: 0px 0px 0px 4px #0D6EFD40;
        border-color: #86B7FE;
    }
}

.password-input-group {
    display: flex;
    border-radius: $rounded-3;
    border-style: solid;
    border-width: 1px;
    border-color: $gray-400;
    padding: $p-2 $p-4;
    &:focus-within {
        box-shadow: 0px 0px 0px 4px #0D6EFD40;
        border-color: #86B7FE;
    }
}

.password-input-field {
    border-width: 0px;
    padding: 0px;
    &:focus {
        box-shadow: 0px 0px 0px 0px;
        border-width: 0px !important;
    }
}