@import "../../../../../../../../utils/styles/styles.scss";

.summary {
    background-color: $white;
    opacity: 30%;
    display: flex;
    padding: $p-6;
    gap: $gap-4;
    border-radius: $rounded-6;
}

.summary-item {
    width: 167.5px;
    display: flex;
    flex-direction: column;
    gap: $gap-1;
    align-items: center;
}

.title {
    display: flex;
    color: $gray-100;
    font-weight: 600;
    font-size: $font-size-S;
    line-height: 21px;
    gap: $gap-1;
}

.display {
    font-weight: 700;
    font-size: $font-size-3XL;
    line-height: 50px;
    color: $white;
}