@import '../../../../../../../../utils/styles/styles.scss';

.test-tab {
    padding: $p-4 $p-6;
    background-color: $blue-100;
    border-color: $primary;
    border-width: 0 0 0 8;
    border-style: solid;
    display: flex;
    gap: $gap-4;
    align-items: center;
}

.test-title {
    color: $body-color;
    font-weight: 600;
    font-size: $font-size-S;
    line-height: 24px;
}